@charset "UTF-8";
/*  메인부분  Scroll Back To Top Button 으로 만들기*/
										/* login */

                                        /* Info */

.subList{margin-left: 25%; width: 100%; height: 100px;margin-top: 50px;}
.subList li{float: left; border-bottom: 3px solid gray; width: 200px; height: 70px; margin-left: 200px; font-size: 24px; text-align: center; line-height: 70px; cursor: pointer;}
.on{background-color: rgba(183, 198, 231, 0.733); border-radius: 10%;}
.slectedList{width: 100%; height: 300px; background-color: antiquewhite;margin-top: 20px;}
.slectedList h3{text-align: center;}


                                        /* upper, lower, regForm */
                            
.subList2{width: 100%; height: 100px;margin-top: 50px;}
.subList2 li{float: left; border-bottom: 3px solid gray; width: 200px; height: 70px; margin-left: 200px; font-size: 24px; text-align: center; line-height: 70px; cursor: pointer;}
.on{background-color: rgba(183, 198, 231, 0.733); border-radius: 10%;}
.selectedList{margin-top: 20px; text-align: center;}
.selectedList h3{text-align: center;}
.subList3{width: 100%; height: 100px;margin-top: 30px;}
.subList3 li{float: left; border-bottom: 3px solid gray; width: 100px; height: 70px; margin-left: 200px; font-size: 24px; text-align: center; line-height: 70px; cursor: pointer;}
.subList3 li:first-child{margin-left: 13%;}
.sub li:hover{background-color: rgb(163, 228, 228);border-radius: 10%;}
.title{width: 50%; float: left;}
.writeDay{width: 50%; margin-left: 50%;}
.content{width: 80%; font-size: 24px; margin-top: 30px; border-top: 4px solid rgb(115, 115, 233);text-align: left;padding-top: 50px;}
.uploadImg{border-bottom: 1px dashed rgba(40, 117, 117, 0.377); margin-bottom: 50px;}
.uploadImg img{margin: 70px; border: 3px solid rgba(66, 66, 218, 0.5); border-radius: 15px;}
.pagelist {margin: 10px;}
.page-item{padding: 8px 12px;display: inline; font-size: 18px;}
/* #uploadBtn{position: relative;} */
#uploadBtn input[type=button]{width: 100px; font-size: 18px; position: absolute; right: 200px;}
#uploadBtn input[type=button]:hover{cursor: pointer;}
